
@keyframes success {
  100%   {background-color:rgba(184, 180, 180, 0.63); left:1%; top:10%;}
  0% {background-color:rgba(184, 180, 180, 0.63); left:1%; top:90%;}
}

.notifyError{
min-width: max-content;
min-height: max-content;
display: flex;
align-items: center;
justify-content: start;
  color: red;
  z-index: 1;
 
}

.message{
  justify-content:center;
  max-width:80%;
  text-align: justify;
}

.notify{
  position: absolute;
top: 4%;
left:1%;
min-width: max-content;
min-height: max-content;
display: flex;
align-items: center;
justify-content: start;
animation-name: success;
animation-duration: 3s;
animation-delay: 1s;
animation-fill-mode: both;
color: green;
border: 2px solid green;
z-index: 1;
background-color:rgba(184, 180, 180, 0.63);
}

.AlertError{
  width: 20px;
  height: 20px;
  position: relative;
}

.Alert{
   width: 30px;
  height: 30px;
  position: relative;
  background-color :green;
}